<h2>Create Room</h2>

<form action="/rooms/create" method="POST">
<label> Name:
    <input type="text" name="name" />
</label>

<label> Description
    <input type="text" name="description" />
</label>

<label> ImageUrl
    <input type="text" name="imageUrl" />
</label>

<button type="submit"> Add Room  </button>

</form>